<div class="jumbotron">
<h1>Welcome to Baby Pictures</h1>
<p>You've found the home page for 
	<%= link_to "BaBy Pictures", "http://yahoo.com"%>
	application
</p>

<p>
	<%= link_to "Sign Up Now", "http://yahoo.com", class:"btn btn-primary btn-lg "%>
</p>

</div>


